<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.twt.survey.app.dao.QuestionMapper">
    <resultMap id="questionMap" type="cn.twt.survey.app.entity.Question">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="paper" property="paper" jdbcType="INTEGER"/>
        <collection property="option" ofType="cn.twt.survey.app.entity.Option" select="getOptionList" column="{question = id}">
<!--            <constructor>-->
<!--                <arg column="id"/>-->
<!--                <arg column="content"/>-->
<!--                <arg column="question"/>-->
<!--            </constructor>-->
        </collection>
    </resultMap>

    <select id="getQuestionByPaper" resultMap="questionMap">
        SELECT * FROM `question` where paper = #{param1}
    </select>

    <select id="getOptionList" resultType="Option">
        SELECT * FROM `option` where question = #{question}
    </select>

</mapper>